.graph-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-top: 16px;
  font-weight: 700;
  height: max-content;
}

.header {
  font-size: 24;
  font-weight: 800;
}

.graph-area {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 8px;
  padding: 16px;
  font-weight: 700;
  height: max-content;
}

.vertical-axis {
}

.number {
  display: table-cell;
  vertical-align: middle;
}
